<div class="sub-content">

  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>제목:</strong>
    <%= @post.title %>
  </p>
  
  <p>
    <strong>내용:</strong>
    <%= @post.content %>
  </p>
  
  <%= link_to '수정하기', edit_post_path(@post) %> |
  <%= link_to '뒤로 가기', posts_path %>
</div>